<form>
  First name:<br>
  <input type="text" name="firstname"><br>
<<<<<<< HEAD
  
<<<<<<< HEAD
Mothers name:<br>
  <input type="text" name="mother name"><br>
=======
	pin  name:<br>
  <input type="text" name="pinname"><br>
>>>>>>> parent of b568643... revert check2
=======
>>>>>>> parent of c6962b6... revert check
  Last name:<br>
  <input type="text" name="lastname">
</form>
